#para1 {
   font-weight: 100;
   font-family: "Georgia", serif;
  }

#para2 {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
font-size: 32px;
 }

#para3 {
  font-weight: 700;
  font-family: monospace;
}

#para4 {
  font-weight: 900;
  font-family: cursive;
}
